.taggedCard img{
  width: 150px;
  margin-left: 10px;
  margin-top: 15px;
}

.taggedCard h2{
  font-size: 12px;
  margin-left: 25px;
  margin-top: 5px;
}

.taggedCard .paraone{
  font-size: 11px;
  margin-left: 25px;
  margin-top: 5px;
  line-height: 7px;
  font-weight: 600;
}

.taggedCard .paratwo{
  font-size: 10px;
  margin-left: 25px;
  margin-top: 8px;
  line-height: 7px;
  font-weight: 200;
}

.taggedCard .parathree{
  font-size: 12px;
  margin-left: 25px;
  margin-top: 8px;
  line-height: 7px;
  font-weight: 700;
}

.taggedCard .off{
  font-size: 10px;
  margin-left: 5px;
  margin-top: 8px;
  line-height: 7px;
  font-weight: 400;
  color: orange;
}

.cardbtn{
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  background-color: black;
  border-radius: 10px;
}

.cardbtn a{
  font-size: 10px;
  text-decoration: none;
  color: white;
}

.tag-offer{
  width: 90px;
  border: 1px solid red;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2.3rem;
  left: 5px;
  border-radius: 5px;
  background-color: #e91e63;
  color: white;
}