/* 
.Card-box img{
  width: 165px;
  border: 1px solid blue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 12px;
}

.olay{
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 5px;
  font-family: monospace;
}

.paraone{
  font-size: 10px;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 1px;
  font-family: monospace;
  color: black;
}

.paratwo{
  font-size: 10px;
  font-weight: 300;
  margin-left: 15px;
  margin-top: 1px;
}

.c-off{
  font-size: 11px;
  font-weight: 600;
  margin-left: 8px;
  margin-top: 1px;
  color: orange;
}

.parathree{
  font-size: 12px;
  font-weight: 700;
  margin-left: 15px;
  margin-top: 1px;
}

.cardbtn{
  width: 100px;
  height: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  background-color: black;
  border-radius: 15px;
}

.cardbtn a{
  font-size: 10px;
  text-decoration: none;
  color: white;
} */


.taggedCard {
  margin: 3px;
  padding: 9px;
    height: 311px;
    border: 2px solid red;
    width: 184px;
    font-size: 14px;
    line-height: 20px;
    background: white;
    margin-top: 9px;
    border-radius: 16px;
    margin-left: 10px; 
  }
 
  .taggedbtn {
    position: relative;
    background: #021927;
    color: white;
    padding: 2px;
    border-radius: 15px;
    width: 120px;
    top: -14px;
    left: 22px;
  }
  .taggedbtn a{
    text-decoration: none;
    color:white;
  }
  .taggedoff {
    color: #dd5f2d;
    position: relative;
    top: -20px;
    left: 85px;
    font-size: 11px;
  }