.taggedcontainer {
  margin-top: 33.5rem;
  height: 60vh;
  border-radius: 17px;
  background: #f1f4f9;
  box-shadow: -7px, black;
  position: relative;
  top: 150px;
  z-index: 2000;
  width: 400px;
    border: 2px solid #f1f4f9;
  }
  .head1 {
    font-size: 21px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 27px;
    line-height: 25px;
  }
  .cardcontainer {
    display: flex;



    display: flex;
    justify-content: center;
    align-items: center;
  }