.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    /* border: 2px solid red; */
    justify-content: center;
}
.container {
    height: 100vh;
    max-width: 400px;
    width: 100%;
    background-color: white; 
    border: 2px solid blue;
    }

    @media only screen and (max-width: 300px) {
        .container {
            height: 100vh;
            max-width: 380px;
            width: 100%;
            background-color: red; 
            border: 2px solid green;
            }
    }